#App-Master { /* Master width */
	width: 50%;
}

.CaptureButton ,.SelectAllButton{
	margin: 5px;
}

.MasterListItemBox .sapMPanelContent{
	padding : 0px; 
	border-bottom: 0px solid #000000;
}

.MasterListItemSimpleList{
	background-color: #65BAEB !important;
	padding : 0px;
}

.SelectedItem, .SelectedItem:hover{
	color : #000000 !important ; 
	background-color: #C7C7C7 !important;
}

.sapMLIBSelectD:hover, .sap-desktop .sapMLIB:not(.sapMLIBActive):not(.sapMLIBTypeInactive):not(.sapMLIBTypeDetail):not(.sapMALI):hover, .sap-desktop .sapMListUl:not(.sapMListModeDelete):not(.sapMListModeNone) .sapMLIB:not(.sapMLIBActive):not(.sapMALI):hover, .sap-desktop .sapMLIB:not(.sapMLIBActive):not(.sapMLIBTypeInactive):not(.sapMLIBTypeDetail):not(.sapMALI):hover>td, .sap-desktop .sapMLIB:not(.sapMLIBActive):not(.sapMLIBTypeInactive):not(.sapMLIBTypeDetail):not(.sapMALI):hover + .sapMListTblSubRow, .sap-desktop .sapMListTblSubRow:not(.sapMLIBActive):not(.sapMLIBTypeInactive):not(.sapMLIBTypeDetail):not(.sapMALI):hover {
    color : #000000 !important ; 
	background-color: #C7C7C7 !important;
}

.NominationItemTable {
	margin: 1% 5%;
}

.MasterListItemBox{
	boarder : 0px !important;
}

.EmptyPage {
	background-color: #FFFFFF;
}

.sapMDLILabel {
	font-weight: bold;
}

.sapMDLIValue {
	font-size: 1.125rem;
}

.HorizontalList ul
{
	list-style-type: none;
}

.HorizontalList ul li { 
	float:left;
	display: inline; 
	margin : 0px 5px 0px 0px; 
}

.MasterItemIndexBox{ 
	color : #FFFFFF !important;
	background-color: #424242;
    border-style: solid;
    border-width: 1px;
    padding : 2px 5px 2px 5px; 
    border-radius: 15px;
    font-size : 0.8em  !important;
}

.DetailItemIndexBox{ 
	color : #FFFFFF !important;
	background-color: #424242;
    border-style: solid;
    border-width: 1px;
    padding : 2px 6px 2px 6px; 
    border-radius: 15px;
    font-size : 0.7em  !important;
}

.HorizontalList LI{
	border-width: 0px;
	border-bottom: 0px;
}

.MainNomList{
	background-color: #E8E8EE;
}

.sapMBarPH, .sapMBar-CTX .sapMLabel{
	color : #E9E9E9;
	background-color: #424242;
}

.sapMLIBContent sapMLIBContentMargin{
	margin : 0px; 
	padding : 0px; 
}

.DetailListItem{
	margin : 10px; 
}

